<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key </key>
	<string>Q0pY6tM3k6eT1dn1Ol0BA1xpg</string>
	<key>API Secret Key </key>
	<string>lBSkpW8sqKb6SAORQqNC3nWKippKIbaD7wbmRAs3PAVH3MAJyA</string>
</dict>
</plist>
